<script>
    import Door from './components/Door.svelte';
    // import Room from './components/Room.svelte';
    import Room from './components/TestRoom.svelte';
    import Router from './routes/index.svelte';

    export let bot_picture;
    export let welcome_popup_on;
    export let empty_message_allowed;
    export let name;
    export let widget_icon;
    export let ws_url;
    export let fetch_image_endpoint_url;
    export let is_s3;
    let chat_widget_icon = "bi bi-robot";

    if (!is_s3)
    {
        const params = new URLSearchParams({widget_icon_relative_path: bot_picture});
        fetch(`${fetch_image_endpoint_url}?${params}`)
        .then(response => {
            if (response.ok) {
                return response.blob();
            } else {
                throw new Error('Failed to fetch the media file');
            }
        })
        .then(blob => {
            let image_src = URL.createObjectURL(blob);
            bot_picture = image_src;
            widget_icon = image_src;
        })
        .catch(error => {
            console.error(error);
        });
    }
    
    let run;
    let isBoxClicked = false;
    let gate;

    let socket;

    // Encodes a random string in base-64
    let randomRoom = btoa(Math.random().toString().substr(3, 7)).slice(0, 7);

    let url = `${ws_url}/${randomRoom}/`;

    // let config = [];
    // let dataAPI = 'settings.json';

    // onMount(async () => {
    //     const response = await fetch(dataAPI)
    //     config = await response.json();
    //     //console.log(ws_url);
    // })

    function open_chat_gate() {
        // let url = `${ws_url}/${randomRoom}/`;

        let chatIcon = document.getElementById('icon');
        let chatGate = document.getElementById('gate');
        let chatDoor = document.getElementById('door');
        let chatRoom = document.getElementById('room');

        if (welcome_popup_on) {
            if (chatDoor.style.display === 'block') {
                chatGate.className = chat_widget_icon;
                chatDoor.style.display = 'none';
            } else if (
                chatRoom.style.display === 'block' &&
                chatDoor.style.display === 'none'
            ) {
                chatGate.className = chat_widget_icon;
                chatRoom.style.display = 'none';
            } else {
                chatGate.className = 'bi bi-x-lg';
                chatDoor.style.display = 'block';
            }
        }

        if (!welcome_popup_on) {
            if (chatRoom.style.display === 'block') {
                gate.removeAttribute('class');
                // chatGate.className = chat_widget_icon;
                chatIcon.style.display = 'none';
                chatGate.style.display = 'block';
                chatRoom.style.display = 'none';
            } else {
                gate.className = 'gate-open';
                if (isBoxClicked === false) {
                    socket = new WebSocket(url);
                    socket.onmessage = function (e) {
                        run.write_bot_response(e);
                    };

                    isBoxClicked = true;
                }
                chatGate.style.display = 'none';
                chatIcon.style.display = 'block';
                chatIcon.className = 'bi bi-x-lg';
                chatRoom.style.display = 'block';
            }
        }
    }
</script>

<Router />

<main>
    {#if welcome_popup_on}
        <Door {empty_message_allowed} {ws_url} {bot_picture} {name} />
    {:else}
        <Room
            bind:this={run}
            {socket}
            on:click={open_chat_gate}
            {empty_message_allowed}
            {ws_url}
            {bot_picture}
            {name}
        />
    {/if}

    <div class="widget" on:click={open_chat_gate} bind:this={gate}>
        <div class="gate-btn">
            <i class={chat_widget_icon} id="icon" style="display: none" />
            <div class="poly-bot">
                <img
                    class="rounded-circle"
                    src={widget_icon}
                    id="gate"
                    alt="poly-logo"
                />
            </div>
        </div>
    </div>
</main>

<style>
    .gate-btn {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #0890e2;
        cursor: pointer;
        padding: 10px 20px;
        position: fixed;
        bottom: 30px;
        right: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gate-btn .poly-bot {
        width: 70px;
        height: 70px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gate-btn .poly-bot img {
        width: 100%;
    }

    /*
    .gate-btn {
        animation-name: chameleon-effect;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes chameleon-effect {
        0% {
            background-color: #0890E2;
        }
        25% {
            background-color: #0838E2;
        }
        50% {
            background-color: #1E08E2;
        }
        75% {
            background-color: #5908E2;
        }
        100% {
            background-color: #0890E2;
        }
    }
    */

    :global(.gate-btn i) {
        font-size: 2rem;
        color: #fff;
    }

    /*    @media screen and (max-width: 450px), screen and (max-height: 870px) {

        :global(.gate-open) {
            display: none;
        }

    }*/
</style>
