<script>
    export let empty_message_allowed;

    let userInput = '';
    let roomContent;
    let noHistory;
    let botResponse;

    const welcomeMessage = "Hey, I'm qary. May I help you?";

    function scroll_to_bottom() {
        roomContent.scrollTo(0, roomContent.scrollHeight);
    }

    export function delay_welcome_message() {
        const message = `
            <div class = "message-item received">
                <span class = "message-item-text">
                    ${welcomeMessage}
                </span>
            </div>       
        `;
        console.log(roomContent.children.length);
        if (roomContent.children.length < 2) {
            setTimeout(() => {
                roomContent.insertAdjacentHTML('beforeend', message);
            }, 1000);
            scroll_to_bottom();
        } else {
            return false;
        }
    }

    function write_user_input() {
        let message = `
            <div class = "message-item sent">
                <span class = "message-item-text">
                    ${userInput}
                </span>
            </div>
        `;

        console.log(userInput);
        roomContent.insertAdjacentHTML('beforeend', message);
        botResponse = userInput;
        userInput = '';
        noHistory.style.display = 'none';
        scroll_to_bottom();
    }

    function write_bot_response() {
        let message = `
            <div class = "message-item received">
                <span class = "message-item-text">
                    ${botResponse}
                </span>
            </div>
        `;
        console.log(message);
        roomContent.insertAdjacentHTML('beforeend', message);
        scroll_to_bottom();
    }

    async function submit_user_input() {
        if (empty_message_allowed) {
            if (userInput !== undefined) {
                write_user_input();
                setTimeout(write_bot_response, 1000);
            } else {
                return false;
            }
        } else {
            if (userInput !== undefined && userInput.trim() !== '') {
                write_user_input();
                setTimeout(write_bot_response, 1000);
            } else {
                return false;
            }
        }
    }

    document.onkeydown = function () {
        if (window.event.keyCode == '13' && !window.event.shiftKey) {
            submit_user_input();
            window.event.preventDefault();
        }
    };
</script>

<div class="card chat-room" id="room">
    <div class="card-header room-header">
        <div class="d-flex p-2">
            <div class="header-profile p-1">
                <img
                    class="rounded-circle profile-img"
                    src="https://images.unsplash.com/photo-1574158622682-e40e69881006?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                    alt="eee"
                />
                <div class="status-circle" />
            </div>
            <div class="header-status p-1 mt-1">
                <h6 class="fw-bold">Purple Alien</h6>
                <small class="d-block text-muted"> Online </small>
            </div>
        </div>
    </div>

    <div class="card-body room-content" bind:this={roomContent}>
        <h5 class="no-history fw-bold" bind:this={noHistory}>
            We haven't spoken previously!
        </h5>
    </div>

    <div class="card-footer room-footer">
        <form class="message-form" on:submit|preventDefault={submit_user_input}>
            <textarea
                type="text"
                placeholder="Type message..."
                class="message-input"
                bind:value={userInput}
            />
            <button type="submit" class="send-btn">
                <i class="bi bi-send" />
            </button>
        </form>
    </div>
</div>

<style>
    :root {
        --blue: #0890e2;
        --grey: #f5f5f5;
        --white: #fff;
        --green: #008000;
    }

    .chat-room {
        width: 400px;
        font-family: 'Ubuntu', sans-serif;
        background-color: #f5f5f5;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 150px;
        position: fixed;
        bottom: 120px;
        right: 15px;
        display: none;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
    }

    .room-header {
        background-color: var(--white);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .header-profile {
        width: 50px;
        height: 50px;
        position: relative;
    }

    .header-status {
        margin-left: 3px;
    }

    .profile-img {
        height: 45px;
        width: 45px;
    }

    .status-circle {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: var(--green);
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .room-header .header-status small {
        margin-top: -7px;
    }

    .room-content {
        max-height: 250px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        grid-row-gap: 15px;
        padding: 25px;
    }

    .room-content .no-history {
        font-size: 15px;
        text-align: center;
        padding: 30px;
    }

    :global(.message-item) {
        padding: 15px;
        width: 75%;
    }

    :global(.message-item.sent) {
        align-self: flex-end;
        background-color: var(--blue);
        color: var(--white);
        border-radius: 13px 0 13px 13px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
    }

    :global(.message-item.received) {
        background: var(--white);
        border-radius: 0 13px 13px 13px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.05);
    }
    /*
    .message-item.welcome {
        background: var(--white);
        border-radius: 0 13px 13px 13px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, .05);
        display: none;
    }
    */

    .room-footer {
        background: var(--white);
        padding: 13px 25px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .room-footer .message-form {
        display: flex;
        align-items: center;
        background-color: var(--grey);
        border-radius: 8px;
        padding: 8px 20px;
    }

    .room-footer .message-input {
        background-color: transparent;
        outline: none;
        border: none;
        resize: none;
        scrollbar-width: none;
        height: 40px;
    }

    .room-footer .send-btn {
        color: var(--blue);
        border: none;
        background: transparent;
        font-size: 20px;
        margin-left: 15px;
    }

    @media screen and (max-width: 384px) {
        .chat-room {
            width: calc(100vw - 30px);
        }

        .room-footer .message-input {
            width: 215px;
        }
    }
</style>
